.display-4{
    text-align: center;
    padding-top:40px;
    
}

.hero{
    height: 200px;
    background-color:#1c1f24;
}

.logo{
    float: left;
    width: 200px;
}

.display-3{
    text-align: center;
    padding-top:40px; 
    color: white;
}

nav {
    background-color:#164e82;
}

.nav-link{
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.nav-link:hover{
    color:greenyellow;
}

.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: greenyellow;
}

p{
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
}