/*Colores UTE
#419763
#31737E
*/

.display-4{
    text-align: center;
    padding-top:40px;
    
}

.hero{
    height: 200px;
    background-color:#1c1f24;
}

.logo{
    float: left;
    width: 200px;
}

.display-3{
    text-align: center;
    padding-top:40px; 
    color: white;
}

nav {
    background-color:#164e82;
}

.nav-link{
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.nav-link:hover{
    color:greenyellow;
}

.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: greenyellow;
}

p{
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
}

.display-1{
    font-size: 30px;
    font-weight: bold;
    color: #13436e;
}

.dropdown-item:hover{
color: white;
background-color:#164e82;
}

 pre {
  font-size: 12px;
  border: 2px solid grey;
  width: 600px;
  border-left: 12px solid green;
  border-radius: 5px;
  padding: 10px;
}

.navbar-toggler{
    border-color: green;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }